{% extends 'bases/accounts.html' %}

{% load static %}

{% block title %}
ثبت نام
{% endblock %}

{% block form %}
<form class="form-style-1 mt-35" method="post">
    {% csrf_token %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} color-white">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="mb-4">
        <label for="mobile" class="form-label">شماره موبایل</label>
        <input type="text" name="mobile" class="form-control" placeholder="شماره موبایل خود را وارد کنید" id="mobile" required>
    </div>
    <button class="btn btn-danger mt-4">ثبت نام</button>
    <a class="forgot-password" href="{% url 'login' %}">قبلا ثبت نام کردید؟ وارد شوید</a>
    <div class="continue-media">
        <span>دریافت اشتراک مشاوره از طریق پشتیبانی</span>
    </div>
    <div class="mt-3" style="display: flex; justify-content: center; align-items: center; gap: 10px">
        <a target="_blank"
            href="https://accounts.google.com/signin/v2/challenge/pwd?rart=ANgoxcdbbNxH1nYXChBQ7n_DhSet9sRm1XXzUFTdrodQQJThJv3oPCktvjFuZq-YDK8WsXHW_gXYeU7G-XB1iBPG0qMJAeBgcA&amp;TL=ADFpJfNO0RX76w3_dSTgZpAaaAo5b4pVS_QbxZE9ZcTWHKvMhtzT8sU5qddOsm_4&amp;flowName=GlifWebSignIn&amp;cid=1&amp;flowEntry=ServiceLogin">
            <img src="{% static 'images/telegram.jpg' %}" alt="telegram" width="40px">
        </a>
        <a href="https://appleid.apple.com/" target="_blank">
            <img src="{% static 'images/bale.jpg' %}" alt="bale" width="40px">
        </a>
    </div>
</form>
{% endblock %}