{% extends 'bases/accounts.html' %}

{% load static %}

{% block title %}
تنظیم رمز عبور
{% endblock %}

{% block form %}
<form class="form-style-1 mt-35" method="post">
    {% csrf_token %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} color-white">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="mb-4">
        <label for="password" class="form-label">رمز عبور</label>
        <input type="password" name="password" class="form-control" placeholder="رمز عبور" id="password" required>
    </div>
    <div class="mb-4">
        <label for="pass2" class="form-label">تکرار رمز</label>
        <input type="password" name="password2" class="form-control" placeholder="تکرار رمز عبور" id="password2" required>
    </div>
    <button class="btn btn-danger mt-4">ثبت</button>
</form>
{% endblock %}