{% extends 'bases/learning.html' %}

{% load static %}

{% block title %}
افتخارات آتروپین
{% endblock %}

{% block header %}
<header class="main-header learning-header">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                {% include 'includes/top-header.html' %}
            </div>
        </div>

        <div class="header-bottom header-bottom-2 mt-4 pb-3">
            <h2 class="fw-500 text-white">افتخارات آتروپین</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="section-t-space feature-course-section popular-course-section">
    <div class="custom-container">
        <ul class="feature-course-list">
            {% for achievement in achievements %}
            <li>
                <div class="feature-box">
                    <a href="" class="feature-image">
                        <img src="{{ achievement.cover.url }}" class="img-fluid" alt="">
                    </a>
                    <div class="feature-detail">
                        <a href="">
                            <h6>{{ achievement.full_name }}</h6>
                        </a>
                        <ul class="rate-course">
                            <li><i class="ri-star-fill"></i>{{ achievement.rank }}</li>
                        </ul>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}