{% extends 'bases/learning.html' %}

{% load static %}

{% block title %}
صفحه مشاور
{% endblock %}

{% block static %}
<style>
        .schedule-table{
        background:#fff;
        border-radius:12px;
        overflow:hidden;
        box-shadow:0 8px 25px rgba(0,0,0,.08);
    }

    .schedule-table thead th{
        background:#0d6efd;
        color:#fff;
        font-weight:600;
        text-align:center;
        vertical-align:middle;
        min-width:120px;
    }

    .schedule-table td{
        height:80px;
        vertical-align:middle;
        padding:8px;
    }

    .schedule-table tbody tr:nth-child(even){
        background:#fafafa;
    }

    .schedule-table tbody tr:hover{
        background:#f3f8ff;
    }
</style>
{% endblock %}

{% block header %}
<header class="main-header learning-header">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                {% include 'includes/top-header.html' %}
            </div>
        </div>

        <div class="header-bottom header-bottom-2 mt-4 pb-3">
            <h2 class="fw-500 text-white w-100" style="text-align: center;">{{ consultant.get_full_name }}</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="section-t-space instructors-section">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                <div class="instructors-box">
                    <div class="instructors-image">
                        {% if consultant.avatar %}
                        <img src="{{ consultant.avatar.url }}" class="img-fluid" alt="">
                        {% else %}
                        <img src="{% static 'images/user.jpg' %}" class="img-fluid" alt="">
                        {% endif %}
                    </div>
                    <div class="instructors-content">
                        <h3>{{ consultant.get_full_name }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-course-section section-t-space">
    <div class="custom-container">
        <div class="title mb-1">
            <h4>درباره من</h4>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="about-detail">
                    {{ consultant.user_consultant.bio|safe }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-t-space feature-course-section popular-course-section">
    <div class="custom-container">
        <div class="title mb-1">
            <h4 class="mb-3">نوبت های جلسه فردی انتخاب رشته</h4>
        </div>
        
        <div class="container mt-4">
            
            {% if weeks %}
            <div class="w-100 d-flex" style="justify-content: center;">
                <h5 class="btn w-auto px-4 mb-3" style="text-align: center; color: #ffffff; background-color: #198754;">« برای رزرو یکی از تایم های خالی روی بازه زمانی مدنظر کلیک کنید »</h5>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3" style="gap: 25px;">

                <button id="prevWeek" class="btn btn-outline-primary">
                    هفته قبل
                </button>

                <!-- <h5 id="weekTitle" class="mb-0"></h5> -->

                <button id="nextWeek" class="btn btn-outline-primary">
                    هفته بعد
                </button>

            </div>


            {% for week in weeks %}

            <div class="week-table {% if not week.is_current %}d-none{% endif %}" data-index="{{ forloop.counter0 }}"
                data-title="هفته {{ week.title }}">

                <div class="table-responsive">

                    <table class="table table-bordered table-hover align-middle text-center schedule-table">

                        <thead class="table-light">

                            <tr>

                                {% for day in week.days %}
                                <th>
                                    {{ day.name }}
                                    <br>
                                    <small>{{ day.date_shamsi }}</small>
                                </th>
                                {% endfor %}

                            </tr>

                        </thead>

                        <tbody>

                            {% for row in week.rows %}

                            <tr>

                                {% for slot in row %}

                                <td style="height:65px">

                                    {% if slot %}

                                    {% if slot.is_held %}

                                    <button class="btn btn-info btn-sm w-100">

                                        {{ slot.start_time|time:"H:i" }}
                                        -
                                        {{ slot.end_time|time:"H:i" }}

                                        <br>

                                        رزرو شده

                                    </button>

                                    {% elif slot.is_available %}

                                    <a href="{% url 'reserve_consultation' slot.id %}"
                                        class="btn btn-success btn-sm w-100">

                                        {{ slot.start_time|time:"H:i" }}
                                        -
                                        {{ slot.end_time|time:"H:i" }}

                                        <br>

                                        امکان رزرو

                                    </a>

                                    {% else %}

                                    <button class="btn btn-danger btn-sm w-100">

                                        {{ slot.start_time|time:"H:i" }}
                                        -
                                        {{ slot.end_time|time:"H:i" }}

                                        <br>

                                        رزرو شده

                                    </button>

                                    {% endif %}

                                    {% endif %}

                                </td>

                                {% endfor %}

                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>

            {% endfor %}

            {% else %}

            <div class="card border-warning shadow-sm my-4">
                <div class="card-body">

                    <div class="alert alert-warning mb-4">
                        با توجه به مشخص‌ نبودن زمان رسمی انتخاب رشته دستیاری، امکان رزرو نوبت از طریق پنل در حال حاضر فعال نیست.
                    </div>

                    <p class="mb-3">
                        برای پیش‌رزرو یا دریافت اطلاعات بیشتر، لطفاً از طریق پشتیبانی آتروپین برای ثبت نوبت مشاوره فردی خود اقدام کنید.
                    </p>

                    <p class="mb-4">
                        در صورت تمایل و با توجه به شرایط شما، امکان برگزاری جلسه پیش از آغاز بازه رسمی انتخاب رشته نیز وجود دارد.
                        زمان‌های رزرو آنلاین پس از اعلام برنامه رسمی انتخاب رشته، از طریق پنل فعال خواهد شد.
                    </p>

                    <div class="mt-4 pt-4" style="display:flex;justify-content:center;align-items:center;gap:30px">

                        <a target="_blank" href="https://t.me/atropine_admin">
                            <img src="{% static 'images/telegram.jpg' %}" alt="telegram" width="100">
                            <br>
                            <p class="w-100 mt-2" style="text-align: center;">پشتیبانی تلگرام</p>
                        </a>

                        <a target="_blank" href="https://ble.ir/atropine_admin">
                            <img src="{% static 'images/bale.jpg' %}" alt="bale" width="100">
                            <br>
                            <p class="w-100 mt-2" style="text-align: center;">پشتیبانی بله</p>
                        </a>

                    </div>
                </div>
            </div>

            {% endif %}

        </div>
    </div>
</section>

<script>
    const tables = document.querySelectorAll(".week-table");
    const nextBtn = document.getElementById("nextWeek");
    const prevBtn = document.getElementById("prevWeek");

    let current = 0;

    tables.forEach((table, index) => {
        if (!table.classList.contains("d-none")) {
            current = index;
        }
    });

    function updateButtons() {
        if (current === 0) {
            prevBtn.style.opacity = "0";
            prevBtn.style.pointerEvents = "none";
        } else {
            prevBtn.style.opacity = "1";
            prevBtn.style.pointerEvents = "auto";
        }

        if (current === tables.length - 1) {
            nextBtn.style.opacity = "0";
            nextBtn.style.pointerEvents = "none";
        } else {
            nextBtn.style.opacity = "1";
            nextBtn.style.pointerEvents = "auto";
        }
    }

    function showWeek(index) {
        tables.forEach(t => t.classList.add("d-none"));
        tables[index].classList.remove("d-none");

        updateButtons();
    }

    showWeek(current);

    nextBtn.onclick = function () {
        if (current < tables.length - 1) {
            current++;
            showWeek(current);
        }
    }

    prevBtn.onclick = function () {
        if (current > 0) {
            current--;
            showWeek(current);
        }
    }
</script>
{% endblock %}