{% extends 'bases/learning.html' %}

{% load static %}

{% block title %}
صفحه مشاور
{% endblock %}

{% block header %}
<header class="main-header learning-header">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                {% include 'includes/top-header.html' %}
            </div>
        </div>

        <div class="header-bottom header-bottom-2 mt-4 pb-3">
            <h2 class="fw-500 text-white w-100" style="text-align: center;">{{ consultant.get_full_name }}</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="section-t-space instructors-section">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                <div class="instructors-box">
                    <div class="instructors-image">
                        {% if consultant.avatar %}
                        <img src="{{ consultant.avatar.url }}" class="img-fluid" alt="">
                        {% else %}
                        <img src="{% static 'images/user.jpg' %}" class="img-fluid" alt="">
                        {% endif %}
                    </div>
                    <div class="instructors-content">
                        <h3>{{ consultant.get_full_name }}</h3>
                        <ul class="review-list">
                            <li>مشاور تیم آتروپین</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-course-section section-t-space">
    <div class="custom-container">
        <div class="title mb-1">
            <h4>درباره من</h4>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="about-detail">
                    {{ consultant.user_consultant.bio|safe }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-t-space feature-course-section popular-course-section">
    <div class="custom-container">
        <div class="title mb-1">
            <h4 class="mb-3">نوبت های فعال</h4>
        </div>

        <div class="card shadow border-0">

            <div class="card-body">

                {% if schedules %}

                <div class="table-responsive">
                    <table class="table table-hover align-middle text-center">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>تاریخ</th>
                                <th>شروع</th>
                                <th>پایان</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for schedule in schedules %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ schedule.date_shamsi }}</td>
                                <td>{{ schedule.start_time|time:"H:i" }}</td>
                                <td>{{ schedule.end_time|time:"H:i" }}</td>
                                <td>
                                    <span class="badge bg-success">
                                        آزاد
                                    </span>
                                </td>
                                <td>
                                    <a href="{% url 'reserve_consultation' schedule.id %}" class="btn btn-primary btn-sm" style="background-color: #172561 !important;">
                                        رزرو
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>

                {% else %}

                <div class="alert alert-warning text-center">
                    <h5 class="mb-0">
                        در حال حاضر نوبت آزادی برای این مشاور وجود ندارد.
                    </h5>
                </div>

                {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}