{% extends 'bases/learning.html' %}

{% load static %}

{% block title %}
دوره های آموزشی
{% endblock %}

{% block header %}
<header class="main-header learning-header">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                {% include 'includes/top-header.html' %}
            </div>
        </div>

        <div class="header-bottom header-bottom-2 mt-4 pb-3">
            <h2 class="fw-500 text-white">دوره های آموزشی</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="d-flex w-100 gap-4 px-3 justify-content-center" style="margin-top: 300px;">
    <h1>به زودی ...</h1>
</div>
<!-- <div class="search-box pt-25">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                <form class="form-style-1 learning-search-form">
                    <div>
                        <div class="search-icon">
                            <i class="ri-search-line"></i>
                        </div>
                        <input type="search" class="form-control" placeholder="جستجو کنید...">
                        <button class="btn filter-button" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#filter-button">
                            <i class="ri-sound-module-line fil"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="section-t-space continue-reading-section">
    <div class="custom-container">
        <div class="title px-15">
            <h4>ادامه خواندن</h4>
        </div>

        <div class="row g-3">
            <div class="col-12">
                <div class="reading-list w-100">
                    <div class="reading-box">
                        <div class="reading-detail">
                            <a href="unlocked-courses.html" class="reading-image">
                                <img src="{% static 'images/learning/reading/2.jpg' %}" class="img-fluid" alt="">
                            </a>
                            <a href="unlocked-courses.html" class="reading-name">
                                <h5>React - راهنمای کامل (از جمله Hooks، React...</h5>
                            </a>
                        </div>
                        <div class="reading-view">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"></div>
                            </div>
                            <h6 class="theme-color">55% کامل شده</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="reading-list w-100">
                    <div class="reading-box">
                        <div class="reading-detail">
                            <a href="unlocked-courses.html" class="reading-image">
                                <img src="{% static 'images/learning/reading/1.jpg' %}" class="img-fluid" alt="">
                            </a>
                            <a href="unlocked-courses.html" class="reading-name">
                                <h5>React - راهنمای کامل (از جمله Hooks، React...</h5>
                            </a>
                        </div>
                        <div class="reading-view">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"></div>
                            </div>
                            <h6 class="theme-color">55% کامل شده</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="learning-box"></div>

<div class="offcanvas filter-button offcanvas-bottom theme-bottom-offcanvas" tabindex="-1" id="filter-button">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">مرتب سازی بر اساس: </h5>
    </div>
    <div class="offcanvas-body">
        <form class="filter-box-list">
            <div class="filter-box">
                <input class="form-check-input" type="radio" name="exampleRadios" id="1" value="option1" checked>
                <label class="form-check-label" for="1">
                    <i class="ri-thumb-up-line"></i>
                    <span>محبوبیت</span>
                </label>
            </div>

            <div class="filter-box">
                <input class="form-check-input" type="radio" name="exampleRadios" id="02" value="option1">
                <label class="form-check-label" for="02">
                    <svg>
                        <g clip-path="url(#clip0_121_2425)">
                            <path d="M7 0.583374V13.4167" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.91667 2.91663H5.54167C5.00018 2.91663 4.48088 3.13173 4.09799 3.51462C3.7151 3.8975 3.5 4.41681 3.5 4.95829C3.5 5.49978 3.7151 6.01908 4.09799 6.40197C4.48088 6.78486 5.00018 6.99996 5.54167 6.99996H8.45833C8.99982 6.99996 9.51912 7.21506 9.90201 7.59795C10.2849 7.98084 10.5 8.50014 10.5 9.04163C10.5 9.58311 10.2849 10.1024 9.90201 10.4853C9.51912 10.8682 8.99982 11.0833 8.45833 11.0833H3.5" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <path d="M16 12V3" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M19 10L16 12L13 10" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                        <defs>
                            <clipPath id="clip0_121_2425">
                                <rect width="14" height="14" />
                            </clipPath>
                        </defs>
                    </svg>
                    <span>قیمت: کم به بالا</span>
                </label>
            </div>

            <div class="filter-box">
                <input class="form-check-input" type="radio" name="exampleRadios" id="03" value="option1">
                <label class="form-check-label" for="03">
                    <svg>
                        <g clip-path="url(#clip0_1037_2192)">
                            <path d="M7 0.583374V13.4167" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.91667 2.91663H5.54167C5.00018 2.91663 4.48088 3.13173 4.09799 3.51462C3.7151 3.8975 3.5 4.41681 3.5 4.95829C3.5 5.49978 3.7151 6.01908 4.09799 6.40197C4.48088 6.78486 5.00018 6.99996 5.54167 6.99996H8.45833C8.99982 6.99996 9.51912 7.21506 9.90201 7.59795C10.2849 7.98084 10.5 8.50014 10.5 9.04163C10.5 9.58311 10.2849 10.1024 9.90201 10.4853C9.51912 10.8682 8.99982 11.0833 8.45833 11.0833H3.5" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <path d="M16 12V3" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M13 4L16 2L19 4" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                        <defs>
                            <clipPath id="clip0_1037_2192">
                                <rect width="14" height="14" />
                            </clipPath>
                        </defs>
                    </svg>
                    <span>قیمت: زیاد به پایین</span>
                </label>
            </div>

            <div class="filter-box">
                <input class="form-check-input" type="radio" name="exampleRadios" id="04" value="option1">
                <label class="form-check-label" for="04">
                    <i class="ri-star-line"></i>
                    <span>امتیاز کاربران: بالاترین</span>
                </label>
            </div>
            <button class="btn btn-theme text-white apply-button" data-bs-dismiss="offcanvas">اعمال</button>
        </form>
    </div>
</div> -->
{% endblock %}