{% extends 'bases/learning.html' %}

{% load static %}

{% block title %}
صفحه مدرس
{% endblock %}

{% block header %}
<!-- header start -->
<header class="main-header learning-header h-102">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                <div class="top-header">
                    <div class="header-left">
                        <a class="text-white" data-bs-toggle="offcanvas" href="#sideMenu" role="button">
                            <i class="ri-menu-3-fill"></i>
                        </a>
                        <a href="{% url 'main' %}" class="header-logo">
                            <h4 class="text-white">آتروپین</h4>
                        </a>
                    </div>

                    <div class="header-right">
                        <div class="notification-box">
                            <a class="text-white" href="{% url 'sign_in' %}">
                                <i class="ri-logout-box-line"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="header-bottom header-bottom-2">
                    <h2 class="fw-500 text-white">مدرس</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
{% endblock %}

{% block content %}
<!-- Instructors Section Start -->
<section class="section-t-space instructors-section">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                <div class="instructors-box">
                    <div class="instructors-image">
                        <img src="{% static 'images/learning/instructors.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="instructors-content">
                        <h3>محمد عموئی</h3>
                        <ul class="review-list">
                            <li>دانش آموزان: <span>1,901,413</span></li>
                            <li>مرور: <span>35,152</span></li>
                        </ul>
                        <ul class="social-media">
                            <li>
                                <a href="https://www.facebook.com/">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instructors Section End -->

<!-- About Course Section Start -->
<section class="about-course-section section-t-space">
    <div class="custom-container">
        <div class="title mb-1">
            <h4>درباره من</h4>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="about-detail">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Course Section End -->

<!-- Features Course Section Start -->
<section class="section-t-space feature-course-section">
    <div class="custom-container">
        <div class="title">
            <h4>دوره های پرطرفدار</h4>
        </div>
        <ul class="feature-course-list">
            <li>
                <div class="feature-box">
                    <a href="my-course.html" class="feature-image">
                        <img src="{% static 'images/learning/course/1.jpg' %}" class="img-fluid" alt="">
                    </a>
                    <div class="feature-detail">
                        <a href="my-course.html">
                            <h6>React - راهنمای کامل (از جمله Hooks، Re...)</h6>
                        </a>
                        <ul class="rate-course">
                            <li><i class="ri-star-fill"></i> 4.5</li>
                            <li class="fw-500">50,000 تومان </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-box">
                    <a href="my-course.html" class="feature-image">
                        <img src="{% static 'images/learning/course/2.jpg' %}" class="img-fluid" alt="">
                    </a>
                    <div class="feature-detail">
                        <a href="my-course.html">
                            <h6>پیش عملکرد 101: چگونه بهترین شما شویم</h6>
                        </a>
                        <ul class="rate-course">
                            <li><i class="ri-star-fill"></i> 4.5</li>
                            <li class="fw-500">50,000 تومان </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-box">
                    <a href="my-course.html" class="feature-image">
                        <img src="{% static 'images/learning/course/3.jpg' %}" class="img-fluid" alt="">
                    </a>
                    <div class="feature-detail">
                        <a href="my-course.html">
                            <h6>پیش عملکرد 101: چگونه بهترین شما شویم</h6>
                        </a>
                        <ul class="rate-course">
                            <li><i class="ri-star-fill"></i> 4.5</li>
                            <li class="fw-500">50,000 تومان </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-box">
                    <a href="my-course.html" class="feature-image">
                        <img src="{% static 'images/learning/course/4.jpg' %}" class="img-fluid" alt="">
                    </a>
                    <div class="feature-detail">
                        <a href="my-course.html">
                            <h6>React - راهنمای کامل (از جمله Hooks، Re...</h6>
                        </a>
                        <ul class="rate-course">
                            <li><i class="ri-star-fill"></i> 4.5</li>
                            <li class="fw-500">50,000 تومان </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-box">
                    <a href="my-course.html" class="feature-image">
                        <img src="{% static 'images/learning/course/1.jpg' %}" class="img-fluid" alt="">
                    </a>
                    <div class="feature-detail">
                        <a href="my-course.html">
                            <h6>React - راهنمای کامل (از جمله Hooks، Re...</h6>
                        </a>
                        <ul class="rate-course">
                            <li><i class="ri-star-fill"></i> 4.5</li>
                            <li class="fw-500">50,000 تومان </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Features Course Section End -->
{% endblock %}