{% extends 'bases/learning.html' %}

{% load static %}

{% block title %}
خانه
{% endblock %}

{% block static %}
<style>
    #posterSlider {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    #posterSlider::-webkit-scrollbar {
        display: none;
    }

    #posterSlider>li {
        flex: 0 0 100%;
    }
</style>
{% endblock %}

{% block header %}
<header class="main-header learning-header">
    <div class="custom-container">
        {% include 'includes/top-header.html' %}

        <div class="header-bottom pb-3">
            <div class="customer-name justify-content-center">
                {% if request.user.first_name %}
                <h2>سلام {{ request.user.first_name }} <img src="{% static 'images/learning/hand.png' %}" alt=""> <br> ما در کنارت هستیم ...</h2>
                {% else %}
                <h2>تمام مسیر، در کنار شما هستیم ...</h2>
                {% endif %}
            </div>
        </div>

        <div class="pb-1">
            <div class="search-box search-box-2 mt-0 mb-4" style="opacity: 0.8;">
                <form action="{% url 'courses' %}">
                    <input type="search" class="form-control" placeholder="جستجو..." style="width: 60%; margin: auto; opacity: 0.7;">
                    <i class="ri-search-line" style="position: absolute; right: calc(20vw + 5px);"></i>
                </form>
            </div>
        </div>

        {% if stories %}
        <div class="top-instructors-section">
            <div class="instructors-box">
                <ul class="instructors-list px-15 pb-4 d-flex justify-content-lg-center">
                    {% for story in stories %}
                    <li>
                        <a href="{% url 'story_show' story.id 'main' %}" class="instructors-contain">
                            <div class="instructors-image" style="border: 3px solid #ff3332;">
                                <img src="{{ story.cover.url }}" class="img-fluid" alt="story cover">
                            </div>
                            <div class="instructors-detail">
                                <h5 class="text-white">{{ story.title }}</h5>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</header>
{% endblock %}

{% block content %}
{% if a_live_is_active %}
<div class="section-t-space">
    <a class="blog-btn border-btn vebinar-notif"
    {% if a_live_is_active.stream_url %}
    href="{{ a_live_is_active.stream_url }}"
    {% elif a_live_is_active.aparat_url %}
    href="{{ a_live_is_active.aparat_url }}"
    {% elif a_live_is_active.video_url %}
    href="{{ a_live_is_active.video_url }}"
    {% else %}
    href="#"
    {% endif %}
    style="justify-content: space-between; align-items: center; box-shadow: none;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="{% static 'images/R.png' %}" alt="red logo" width="15px" class="red-circle">
            <h3>
                پخش زنده هم اکنون
            </h3>
        </div>
        <button class="btn btn-danger" style="width: 100px;">ورود به لایو</button>
    </a>
</div>
{% endif %}

<section class="section-t-space continue-reading-section" style="width: 85%; margin: auto;">
    <div class="">
        <div class="swiper slider-1 px-15 reading-slider">
            <div class="">
                <div class="swiper-slide">
                    <a href="{% url 'compass' %}" class="reading-list">
                        <div class="reading-box p-4">
                            <div class="reading-detail">
                                <div class="reading-image" style="display: flex; justify-content: center; align-items: center; background-color: #1725611e;">
                                    <i class="ri-compass-line" style="font-size: 50px;"></i>
                                </div>
                                <div class="reading-name">
                                    <h2 class="new-text-black">قطب نمای آتروپین</h2>
                                </div>
                            </div>
                            <h3 class="mt-3 new-text-black">دپارتمان تخصصی انتخاب رشته 1405</h3>
                            <h5 class="mt-1 new-text-black">🏅 با هشت سال سابقه درخشان</h5>
                            <button class="btn btn-danger mt-3">کلیک کنید</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% if atropine_teams %}
<div class="top-instructors-section section-t-space  mt-3" style="background-color: white;">
    <div class="title px-15">
        <h4>تیم علمی آتروپین <a href="" class="see-all">مشاهده همه</a></h4>
    </div>

    <div class="instructors-box">
        <ul class="instructors-list px-15">
            {% for atropine_team in atropine_teams %}
            <li style="box-shadow: 0 0 5px gainsboro; border-radius: 15px;">
                <a href="{% url 'consultant_show' atropine_team.user_consultant.id %}" class="my-card">
                    <div class="instructors-image-edited">
                        {% if atropine_team.avatar %}
                        <img src="{{ atropine_team.avatar.url }}" class="img-fluid" alt="atropine team avatar">
                        {% else %}
                        <img src="{% static 'images/user.jpg' %}" class="img-fluid" alt="atropine team avatar">
                        {% endif %}
                    </div>
                    <div class="instructors-detail my-card-title">
                        <h5>{{ atropine_team.get_full_name }}</h5>
                        <h6>{{ atropine_team.get_role_display }}</h6>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<section class="section-t-space continue-reading-section" style="width: 85%; margin: auto;">
    <div class="">
        <div class="swiper slider-1 px-15 reading-slider">
            <div class="">
                <div class="swiper-slide">
                    <a href="" class="reading-list">
                        <div class="reading-box p-4">
                            <div class="reading-detail">
                                <div class="reading-image" style="display: flex; justify-content: center; align-items: center; background-color: #1725611e;">
                                    <i class="ri-message-2-line" style="font-size: 50px;"></i>
                                </div>
                                <div class="reading-name">
                                    <h2 class="new-text-black">منتورینگ آتروپین</h2>
                                </div>
                            </div>
                            <h3 class="mt-3 new-text-black">دپارتمان تخصصی مشاوره و هدایت تحصیلی</h3>
                            <h5 class="mt-1 new-text-black">دستیاری | پره انترنی | علوم پایه</h5>
                            <button class="btn btn-danger mt-3" disabled>کلیک کنید</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% if achievements %}
<div class="top-instructors-section section-t-space mt-3" style="background-color: white;">
    <div class="title px-15">
        <h4>افتخارات آتروپین <a href="" class="see-all">مشاهده همه</a></h4>
    </div>

    <div class="instructors-box">
        <ul class="instructors-list px-15">
            {% for achievement in achievements %}
            <li style="box-shadow: 0 0 5px gainsboro; border-radius: 15px;">
                <div class="my-card">
                    <div class="instructors-image-edited">
                        {% if achievement.cover %}
                        <img src="{{ achievement.cover.url }}" class="img-fluid" alt="achievement avatar">
                        {% else %}
                        <img src="{% static 'images/user.jpg' %}" class="img-fluid" alt="achievement avatar">
                        {% endif %}
                    </div>
                    <div class="instructors-detail my-card-title">
                        <h5>{{ achievement.full_name }}</h5>
                        <h6>{{ achievement.rank }}</h6>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if next_live %}
<section class="section-t-space popular-course-section">
    <div class="custom-container">
        <div class="row g-4">
            <div class="col-12" style="background-color: white;">
                <div class="popular-box">
                    <div class="popular-detail">
                        <a
                        {% if next_live.stream_url %}
                        href="{{ next_live.stream_url }}"
                        {% elif next_live.aparat_url %}
                        href="{{ next_live.aparat_url }}"
                        {% elif next_live.video_url %}
                        href="{{ next_live.video_url }}"
                        {% else %}
                        href="#"
                        {% endif %}>
                            <h4 class="mb-2">با وبینار بعدی آتروپین همراه شو</h4>
                        </a>
                        <h5 class="mb-1">
                            عنوان: {{ next_live.title }}
                        </h5>
                        <h5 class="mb-2">
                            تاریخ: {{ next_live.start_datetime_shamsi }}
                        </h5>
                        <div class="d-flex w-100 gap-4">
                            <a href="" class="btn btn-danger p-1" style="font-size: smaller; width: 40%;">ثبت نام</a>
                            <a href="" class="btn btn-primary p-1" style="font-size: smaller; width: 60%;">زمان بندی رویدادها</a>
                        </div>
                    </div>
                    <div class="popular-image" style="height: auto !important;">
                        <img src="{{ next_live.cover.url }}" class="img-fluid w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<div class="top-instructors-section section-t-space">
    <div class="instructors-box">
        <div class="px-15" style="display: grid; grid-template-columns: repeat(2, 1fr);">
            <li class="p-2" style="box-shadow: 0 0 10px gainsboro; border-radius: 15px; width: auto;">
                <div class="my-card">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <i class="ri-mail-line" style="color: #ff3332; font-size: large;"></i>
                    </div>
                    <div class="instructors-detail my-card-title">
                        <h3>خبرنامه</h3>
                    </div>
                </div>
            </li>
            <li class="p-2" style="box-shadow: 0 0 10px gainsboro; border-radius: 15px; width: auto;">
                <a href="{% url 'live_archives' %}" class="my-card">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <i class="ri-calendar-event-line" style="color: #ff3332; font-size: large;"></i>
                    </div>
                    <div class="instructors-detail my-card-title">
                        <h3>آرشیو رویدادها</h3>
                    </div>
                </a>
            </li>
            <li class="p-2" style="box-shadow: 0 0 10px gainsboro; border-radius: 15px; width: auto;">
                <a href="https://atropine.ir/search/%D8%A2%D8%AA%D8%B1%D9%88%D9%81%D8%B3%D8%AA" class="my-card">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <i class="ri-article-line" style="color: #ff3332; font-size: large;"></i>
                    </div>
                    <div class="instructors-detail my-card-title">
                        <h3>آتروفست‌ها</h3>
                    </div>
                </a>
            </li>
            <li class="p-2" style="box-shadow: 0 0 10px gainsboro; border-radius: 15px; width: auto;">
                <a href="https://atropine.ir/search/%DA%A9%D8%A7%D8%B1%DA%AF%D8%A7%D9%87" class="my-card">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <i class="ri-settings-3-line" style="color: #ff3332; font-size: large;"></i>
                    </div>
                    <div class="instructors-detail my-card-title">
                        <h3>کارگاه‌ها</h3>
                    </div>
                </a>
            </li>
        </div>
    </div>
</div>

{% if posters %}
<div class="category-section section-t-space pt-4" style="padding: 0 5vw;">
    <div class="intro-plans">
        <ul class="instructors-list" id="posterSlider">
            {% for poster in posters %}
            <li class="custom-container w-100">
                <a
                {% if poster.stream_url %}
                href="{{ live.stream_url }}"
                {% else %}
                href="#"
                {% endif %}
                class="row g-4">
                    <div class="col-12 p-0">
                        <div class="popular-image w-100" style="height: auto !important;">
                            <img src="{{ poster.cover.url }}" class="img-fluid" alt="poster">
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", () => {

        const slider = document.getElementById("posterSlider");
        const items = slider.querySelectorAll("li");

        let index = 0;

        setInterval(() => {

            index++;

            if (index >= items.length) {
                index = 0;
            }

            slider.scrollTo({
                left: items[index].offsetLeft - 20,
                behavior: "smooth"
            });

        }, 3000);

    });
</script>
{% endblock %}