{% extends 'bases/learning.html' %}

{% load static %}

{% block title %}
خانه
{% endblock %}

{% block header %}
<!-- header start -->
<header class="main-header learning-header">
    <div class="custom-container">
        <div class="top-header">
            <div class="header-left">
                <a class="text-white" data-bs-toggle="offcanvas" href="#sideMenu" role="button">
                    <i class="ri-menu-3-fill"></i>
                </a>
                <a href="{% url 'main' %}" class="header-logo">
                    <h4 class="text-white">آتروپین</h4>
                </a>
            </div>

            <div class="header-right">
                <div class="notification-box">
                    <a class="text-white" href="{% url 'sign_in' %}">
                        <i class="ri-logout-box-line"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="customer-name">
                <h2>سلام محمد</h2>
                <img src="{% static 'images/learning/hand.png' %}" alt="">
            </div>
            <h5>از آتروپین بیاموزید!!</h5>
        </div>

        <div class="search-box index-search">
            <div class="position-relative">
                <input type="search" class="form-control" placeholder="جستجو کنید...">
                <i class="ri-search-line"></i>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
{% endblock %}

{% block content %}
<!-- Category Section Start -->
<div class="category-section section-t-space">
    <div class="title px-15">
        <h4>دسته بندی ها</h4>
    </div>

    <ul class="category-box overflow-auto px-15">
        <li>
            <ul class="category-list">
                <li class="active">
                    <a href="category.html">طراحی</a>
                </li>
                <li>
                    <a href="category.html">کد نویسی</a>
                </li>
                <li>
                    <a href="category.html">بازار یابی</a>
                </li>
                <li>
                    <a href="category.html">سلامت و تناسب اندام</a>
                </li>
                <li>
                    <a href="category.html">هنر</a>
                </li>
                <li>
                    <a href="category.html">کسب و کار</a>
                </li>
            </ul>
        </li>

        <li>
            <ul class="category-list">
                <li>
                    <a href="category.html">توسعه</a>
                </li>
                <li>
                    <a href="category.html">سبک زندگی</a>
                </li>
                <li>
                    <a href="category.html">کسب و کار</a>
                </li>
                <li>
                    <a href="category.html">هنر</a>
                </li>
                <li>
                    <a href="category.html">سلامت و تناسب اندام</a>
                </li>
                <li>
                    <a href="category.html">بازار یابی</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- Category Section End -->

<!-- Top instructors Section Start -->
<div class="top-instructors-section section-t-space">
    <div class="title px-15">
        <h4>مدرسان برتر</h4>
    </div>

    <div class="instructors-box">
        <ul class="instructors-list px-15">
            <li>
                <a href="{% url 'instructor' %}" class="instructors-contain">
                    <div class="instructors-image">
                        <img src="{% static 'images/avtar/1.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="instructors-detail">
                        <h5>مارک جکنو</h5>
                        <h6>56212 دانش آموز</h6>
                    </div>
                </a>
            </li>
            <li>
                <a href="{% url 'instructor' %}" class="instructors-contain">
                    <div class="instructors-image">
                        <img src="{% static 'images/avtar/2.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="instructors-detail">
                        <h5>ادوارد همچنین</h5>
                        <h6>25584 دانش آموز</h6>
                    </div>
                </a>
            </li>
            <li>
                <a href="{% url 'instructor' %}" class="instructors-contain">
                    <div class="instructors-image">
                        <img src="{% static 'images/avtar/3.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="instructors-detail">
                        <h5>آلن جکنو</h5>
                        <h6>77050 دانش آموز</h6>
                    </div>
                </a>
            </li>
            <li>
                <a href="{% url 'instructor' %}" class="instructors-contain">
                    <div class="instructors-image">
                        <img src="{% static 'images/avtar/4.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="instructors-detail">
                        <h5>مارک جکنو</h5>
                        <h6>56212 دانش آموز</h6>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Top instructors Section End -->

<!-- Poster Section Start -->
<section class="section-t-space poster-section">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                <div class="poster-box">
                    <img src="{% static 'images/learning/poster/1.png' %}" class="img-fluid w-100" alt="">
                    <div class="poster-detail p-center">
                        <div>
                            <h3 class="text-white">آماده ای برای شروع حرفه خود؟</h3>
                            <button onclick="location.href = '/my-course/';" class="btn btn-sm btn-white">همین الان شروع کن!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Poster Section End -->

<!-- Continue Reading Section Start -->
<section class="section-t-space continue-reading-section">
    <div class="">
        <div class="title px-15">
            <h4>ادامه خواندن</h4>
        </div>

        <div class="swiper slider-1 px-15 reading-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="{% url 'courses' %}" class="reading-list">
                        <div class="reading-box">
                            <div class="reading-detail">
                                <div class="reading-image">
                                    <img src="{% static 'images/learning/reading/1.jpg' %}" class="img-fluid" alt="">
                                </div>
                                <div class="reading-name">
                                    <h5>React - راهنمای کامل (از جمله Hooks، React...</h5>
                                </div>
                            </div>
                            <div class="reading-view">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"></div>
                                </div>
                                <h6 class="theme-color">55% کامل شده</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="{% url 'courses' %}" class="reading-list">
                        <div class="reading-box">
                            <div class="reading-detail">
                                <div class="reading-image">
                                    <img src="{% static 'images/learning/reading/2.jpg' %}" class="img-fluid" alt="">
                                </div>
                                <div class="reading-name">
                                    <h5>React - راهنمای کامل (از جمله Hooks، React...</h5>
                                </div>
                            </div>
                            <div class="reading-view">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"></div>
                                </div>
                                <h6 class="theme-color">55% کامل شده</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="{% url 'courses' %}" class="reading-list">
                        <div class="reading-box">
                            <div class="reading-detail">
                                <div class="reading-image">
                                    <img src="{% static 'images/learning/reading/3.jpg' %}" class="img-fluid" alt="">
                                </div>
                                <div class="reading-name">
                                    <h5>React - راهنمای کامل (از جمله Hooks، React...</h5>
                                </div>
                            </div>
                            <div class="reading-view">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"></div>
                                </div>
                                <h6 class="theme-color">55% کامل شده</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Continue Reading Section End -->

<!-- Features Course Section Start -->
<section class="section-t-space feature-course-section">
    <div class="custom-container">
        <div class="title">
            <h4>دوره های ویژه</h4>
        </div>
        <ul class="feature-course-list">
            <li>
                <div class="feature-box">
                    <a href="my-course.html" class="feature-image">
                        <img src="{% static 'images/learning/course/1.jpg' %}" class="img-fluid" alt="">
                    </a>
                    <div class="feature-detail">
                        <a href="my-course.html">
                            <h6>React - راهنمای کامل (از جمله Hooks، Re...)</h6>
                        </a>
                        <ul class="rate-course">
                            <li><i class="ri-star-fill"></i> 4.5</li>
                            <li class="fw-500">برنامه نویسی </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-box">
                    <a href="my-course.html" class="feature-image">
                        <img src="{% static 'images/learning/course/2.jpg' %}" class="img-fluid" alt="">
                    </a>
                    <div class="feature-detail">
                        <a href="my-course.html">
                            <h6>پیش عملکرد 101: چگونه بهترین شما شویم</h6>
                        </a>
                        <ul class="rate-course">
                            <li><i class="ri-star-fill"></i> 4.5</li>
                            <li class="fw-500">برنامه نویسی </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Features Course Section End -->

<!-- Popular Course Start -->
<section class="section-t-space popular-course-section">
    <div class="custom-container">
        <div class="title">
            <h4>دوره های پرطرفدار</h4>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="popular-box">
                    <a href="my-course.html" class="popular-image">
                        <img src="{% static 'images/learning/course/3.jpg' %}" class="img-fluid w-100" alt="">
                    </a>
                    <div class="popular-detail">
                        <a href="my-course.html">
                            <h5>پایتون فراتر از اصول - برنامه نویسی شی گرا</h5>
                        </a>
                        <div class="video-play">
                            <i class="ri-play-circle-line"></i>
                            <span>10 درس</span>
                        </div>
                        <ul class="rating-box">
                            <li>
                                <ul class="rating">
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li class="title-color">4.5</li>
                                    <li class="content-color">(250 رتبه بندی)</li>
                                </ul>
                            </li>
                            <li class="fw-500 theme-color">برنامه نویسی </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="popular-box">
                    <a href="my-course.html" class="popular-image">
                        <img src="{% static 'images/learning/course/4.jpg' %}" class="img-fluid w-100" alt="">
                    </a>
                    <div class="popular-detail">
                        <a href="my-course.html">
                            <h5>برنامه نویسی شی گرا با پایتون</h5>
                        </a>
                        <div class="video-play">
                            <i class="ri-play-circle-line"></i>
                            <span>5 ​​درس</span>
                        </div>
                        <ul class="rating-box">
                            <li>
                                <ul class="rating">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li class="title-color">4.5</li>
                                    <li class="content-color">(250 رتبه بندی)</li>
                                </ul>
                            </li>
                            <li class="fw-500 theme-color">برنامه نویسی </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular Course End -->
{% endblock %}