{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">



<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="آتروپین">
    <meta name="keywords" content="آتروپین">
    <title>خوش آمدید!</title>
    <link rel="manifest" href="{% static 'jsons/manifest.json' %}">
    <meta name="theme-color" content="#172561">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="آتروپین">
    <meta name="msapplication-TileImage" content="{% static 'images/logo.jpg' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo-optimized.jpg' %}">

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet">

    <!-- Bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'css/vendors/bootstrap.css' %}">

    <!-- Swiper css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/swiper/swiper-bundle.min.css' %}">

    <!-- Remix Icon css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/remixicon.css' %}">

    <!-- Style css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body class="learning-onboarding-bg inter-body learning-color">

    <div class="onboarding-top-contain">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="onboarding-contain">
                        <h6>بیش از 2000 دوره در دسترس است</h6>
                        <h2>از آتروپین بیاموزید. بهترین دوره ها را بیابید و مهارت های خود را ارتقا دهید</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="onboarding-images">
        <img src="{% static 'images/learning/onboarding.svg' %}" class="img-fluid w-100" alt="">
        <img src="{% static 'images/learning/circle.svg' %}" class="circle-1" alt="">
        <img src="{% static 'images/learning/plus.svg' %}" class="plus-1" alt="">
        <img src="{% static 'images/learning/circle.svg' %}" class="circle-2" alt="">
        <img src="{% static 'images/learning/plus.svg' %}" class="plus-2" alt="">
    </div>

    <div class="onboarding-footer">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-contain">
                        <div class="button-group">
                            <a href="{% url 'sign_in' %}" class="btn btn-white mt-3">ورود</a>
                        </div>
                        <p>پذیرش این شرایط و ضوابط. با استفاده از داده های Sentinel، کاربر این شرایط و ضوابط را پذیرفته است.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- space box start -->
    <div class="spacing-box"></div>
    <!-- space box end -->

    <!-- Theme Option Setting Box Start -->
    <div class="theme-setting-box">
        <div class="theme-box">
            <button class="theme-icon text-white">
                <i class="ri-pencil-line"></i>
            </button>
            <ul class="theme-option">
                <li>
                    <button class="theme-setting-button" id="light-btn">
                        <i class="ri-sun-line"></i>
                    </button>
                </li>
                <li>
                    <button class="theme-setting-button" id="dark-btn">
                        <i class="ri-moon-line"></i>
                    </button>
                </li>
                <li>
                    <button class="theme-setting-button" id="system-btn">
                        <i class="ri-computer-line"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <!-- Theme Option Setting Box End -->

    <!-- Bootstrap js-->
    <script src="{% static 'js/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>

    <!-- Theme js-->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Theme Settings js-->
    <script src="{% static 'js/theme-setting.js' %}"></script>
</body>


</html>