{% extends 'bases/dashboard.html' %}

{% load static %}

{% block title %}
لیست افتخارات
{% endblock %}

{% block content %}
<div class="table-responsive" dir="rtl">
    <div class="card-header justify-content-between">
        <div class="card-title">
            <h4>
                لیست افتخارات
                <a href="{% url 'achievement_add' %}">
                    <span class="btn btn-success-transparent">افزودن</span>
                </a>
            </h4>
        </div>
    </div>
    <table class="table text-nowrap table-hover">
        <thead>
            <tr>
                <th scope="col">شناسه</th>
                <th scope="col">کاور</th>
                <th scope="col">نام و نام خانوادگی</th>
                <th scope="col">رتبه</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for achievement in achievements %}
            <tr>
                <td>
                    {{ achievement.id }}
                </td>
                <td>
                    <div class="avatar avatar-sm me-۲ avatar-rounded">
                        {% if achievement.cover %}
                        <img src="{{ achievement.cover.url }}" alt="profile">
                        {% endif %}
                    </div>
                </td>
                <td>
                    {{ achievement.full_name }}
                </td>
                <td>
                    {{ achievement.rank }}
                </td>
                <td>
                    <a href="{% url 'achievement_edit' achievement.id %}" class="btn btn-icon btn-sm btn-success-transparent rounded-pill">
                        <i class="ri-edit-2-line"></i>
                    </a>
                    <a href="{% url 'achievement_delete' achievement.id %}" class="btn btn-icon btn-sm btn-danger-transparent rounded-pill">
                        <i class="ri-delete-bin-line"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="text-align: center;">
                    موردی یافت نشد.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}