{% extends 'bases/dashboard.html' %}

{% load static %}

{% block title %}
افزودن کامنت
{% endblock %}

{% block content %}
<div class="row gy-۴" dir="rtl">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.cover.label }}</p>
            {% include 'includes/error.html' with errors=form.cover.errors %}
            {{ form.cover }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.content.label }}</p>
            {% include 'includes/error.html' with errors=form.content.errors %}
            {{ form.content }}
        </div>
        <button type="submit" class="btn btn-success w-100 my-3">ثبت</button>
    </form>
</div>
{% endblock %}