{% extends 'bases/dashboard.html' %}

{% load static %}

{% block title %}
لیست معرفی مشاور
{% endblock %}

{% block content %}
<div class="table-responsive" dir="rtl">
    <div class="card-header justify-content-between">
        <div class="card-title">
            <h4>
                لیست معرفی مشاور
                <a href="{% url 'admin_consultant_add' %}">
                    <span class="btn btn-success-transparent">افزودن</span>
                </a>
            </h4>
        </div>
    </div>
    <table class="table text-nowrap table-hover">
        <thead>
            <tr>
                <th scope="col">شناسه</th>
                <th scope="col">نام و نام خانوادگی مشاور</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for consultant in consultants %}
            <tr>
                <td>
                    {{ consultant.id }}
                </td>
                <td>
                    {{ consultant.user.get_full_name }}
                </td>
                <td>
                    <a href="{% url 'admin_consultant_edit' consultant.id %}" class="btn btn-icon btn-sm btn-success-transparent rounded-pill">
                        <i class="ri-edit-2-line"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" style="text-align: center;">
                    موردی یافت نشد.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}