{% extends 'bases/dashboard.html' %}

{% load static %}

{% block title %}
افزودن کد تخفیف
{% endblock %}

{% block header %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block content %}
<div class="row" dir="rtl">
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name != "packages" %}
                <div class="col-md-6 mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% include 'includes/error.html' with errors=field.errors %}
                </div>
            {% endif %}
        {% endfor %}

        <div class="col-12 mt-4">
            <h5>تخفیف هر پلن</h5>
        </div>

        {% for package in packages %}
        <div class="col-md-6 mb-3 package-box" id="box{{ package.id }}">
            <div class="card border">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <strong>{{ package.name }}</strong>

                        <button type="button"
                                class="btn btn-sm btn-outline-danger remove-package"
                                data-id="{{ package.id }}">
                            ✕
                        </button>
                    </div>

                    <label>مقدار تخفیف</label>
                    <input type="number"
                           name="package_{{ package.id }}_value"
                           class="form-control"
                           placeholder="مثلاً 20 یا 50000">
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="col-12 mt-3">
            <button class="btn btn-success w-100">
                ثبت کدهای تخفیف
            </button>
        </div>
    </form>
</div>

<script>
    $('#id_users').select2({
        width: '100%',
        placeholder: 'کاربران را انتخاب کنید'
    });
    $('#id_packages').select2({
        width: '100%',
        placeholder: 'پکیج‌ها را انتخاب کنید'
    });
</script>
<script>
$('.remove-package').click(function () {
    const id = $(this).data('id');
    $('#box' + id).remove();
});
</script>
{% endblock %}