{% extends 'bases/dashboard.html' %}

{% load static %}

{% block title %}
افزودن پرسش و پاسخ
{% endblock %}

{% block content %}
<div class="row gy-۴" dir="rtl">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.question.label }}</p>
            {% include 'includes/error.html' with errors=form.question.errors %}
            {{ form.question }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.answer.label }}</p>
            {% include 'includes/error.html' with errors=form.answer.errors %}
            {{ form.answer }}
        </div>
        <button type="submit" class="btn btn-success w-100 my-3">ثبت</button>
    </form>
</div>
{% endblock %}