{% extends 'bases/dashboard.html' %}

{% load static %}

{% block title %}
ادیت وبینار
{% endblock %}

{% block header %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block content %}
<div class="row gy-۴" dir="rtl">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.title.label }}</p>
            {% include 'includes/error.html' with errors=form.title.errors %}
            {{ form.title }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.description.label }}</p>
            {% include 'includes/error.html' with errors=form.description.errors %}
            {{ form.description }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.cover.label }}</p>
            {% include 'includes/error.html' with errors=form.cover.errors %}
            {{ form.cover }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">تاریخ شروع</p>
            <input data-jdp type="text" name="start_date" class="form-control" value="{{ form.start_date.value|default:'' }}" autocomplete="off">
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">ساعت شروع</p>
            <input type="time" name="start_time" class="form-control" value="{{ form.start_time.value|default:'' }}">
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">تاریخ پایان</p>
            <input data-jdp type="text" name="end_date" class="form-control" value="{{ form.end_date.value|default:'' }}" autocomplete="off">
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">ساعت پایان</p>
            <input type="time" name="end_time" class="form-control" value="{{ form.end_time.value|default:'' }}">
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.year.label }}</p>
            {% include 'includes/error.html' with errors=form.year.errors %}
            {{ form.year }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.category.label }}</p>
            {% include 'includes/error.html' with errors=form.category.errors %}
            {{ form.category }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.stream_url.label }}</p>
            {% include 'includes/error.html' with errors=form.stream_url.errors %}
            {{ form.stream_url }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.aparat_url.label }}</p>
            {% include 'includes/error.html' with errors=form.aparat_url.errors %}
            {{ form.aparat_url }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.video_url.label }}</p>
            {% include 'includes/error.html' with errors=form.video_url.errors %}
            {{ form.video_url }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.video.label }}</p>
            {% include 'includes/error.html' with errors=form.video.errors %}
            {{ form.video }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.is_public.label }}</p>
            {% include 'includes/error.html' with errors=form.is_public.errors %}
            {{ form.is_public }}
        </div>
        <div class="col-xl-۶ col-lg-۶ col-md-۶ col-sm-۱۲">
            <p class="mt-2 text-muted">{{ form.show_in.label }}</p>
            {% include 'includes/error.html' with errors=form.show_in.errors %}
            {{ form.show_in }}
        </div>
        <button type="submit" class="btn btn-success w-100 my-3">ثبت</button>
    </form>
</div>

<script>
    jalaliDatepicker.startWatch();

    const inputFile = document.getElementById('profile_image_input');
    const previewImage = document.getElementById('profile_image_preview');
    inputFile.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                previewImage.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }); 
</script>

<script>
    $('#id_show_in').select2({
        width: '100%',
        placeholder: 'موارد را انتخاب کنید'
    });
</script>
{% endblock %}