{% extends 'bases/dashboard.html' %}

{% load static %}

{% block title %}
لیست مدیا ها
{% endblock %}

{% block content %}
<div class="table-responsive" dir="rtl">
    <div class="card-header justify-content-between">
        <div class="card-title">
            <h4>
                لیست مدیا ها
                <a href="{% url 'media_add' %}">
                    <span class="btn btn-success-transparent">افزودن</span>
                </a>
            </h4>
        </div>
    </div>
    <table class="table text-nowrap table-hover">
        <thead>
            <tr>
                <th scope="col">شناسه</th>
                <th scope="col">کاور</th>
                <th scope="col">عنوان</th>
                <th scope="col">نوع مدیا</th>
                <th scope="col">رایگان؟</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for media in medias %}
            <tr>
                <td>
                    {{ media.id }}
                </td>
                <td>
                    {% if media.cover %}
                    <div class="avatar avatar-sm me-۲ avatar-rounded">
                        <img src="{{ media.cover.url }}" alt="profile">
                    </div>
                    {% else %}
                    ----
                    {% endif %}
                </td>
                <td>
                    {{ media.title }}
                </td>
                <td>{{ media.get_media_type_display }}</td>
                <td>
                    {% if media.is_free %}
                    بله
                    {% else %}
                    خیر
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'media_edit' media.id %}" class="btn btn-icon btn-sm btn-success-transparent rounded-pill">
                        <i class="ri-edit-2-line"></i>
                    </a>
                    <a href="{% url 'media_delete' media.id %}" class="btn btn-icon btn-sm btn-danger-transparent rounded-pill">
                        <i class="ri-delete-bin-line"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" style="text-align: center;">
                    موردی یافت نشد.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}