{% extends 'bases/dashboard.html' %}

{% load static %}

{% block title %}
لیست بانک قبولی
{% endblock %}

{% block content %}
<div class="table-responsive" dir="rtl">
    <div class="card-header justify-content-between">
        <div class="card-title">
            <h4>
                لیست بانک قبولی
                <a href="{% url 'rank_bank_add' %}">
                    <span class="btn btn-success-transparent">افزودن</span>
                </a>
            </h4>
        </div>
    </div>
    <table class="table text-nowrap table-hover">
        <thead>
            <tr>
                <th scope="col">شناسه</th>
                <th scope="col">رتبه</th>
                <th scope="col">سهمیه</th>
                <th scope="col">رشته قبولی</th>
                <th scope="col">توضیحات</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for rank_bank in rank_banks %}
            <tr>
                <td>
                    {{ rank_bank.id }}
                </td>
                <td>
                    {{ rank_bank.rank }}
                </td>
                <td>{{ rank_bank.get_quota_display }}</td>
                <td>{{ rank_bank.field }}</td>
                <td>{{ rank_bank.description }}</td>
                <td>
                    <a href="{% url 'rank_bank_edit' rank_bank.id %}" class="btn btn-icon btn-sm btn-success-transparent rounded-pill">
                        <i class="ri-edit-2-line"></i>
                    </a>
                    <a href="{% url 'rank_bank_delete' rank_bank.id %}" class="btn btn-icon btn-sm btn-danger-transparent rounded-pill">
                        <i class="ri-delete-bin-line"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" style="text-align: center;">
                    موردی یافت نشد.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}