{% extends 'bases/dashboard.html' %}

{% load static %}

{% block title %}
لیست قوانین و آئین نامه ها
{% endblock %}

{% block content %}
<div class="table-responsive" dir="rtl">
    <div class="card-header justify-content-between">
        <div class="card-title">
            <h4>
                لیست قوانین و آئین نامه ها
                <a href="{% url 'rule_add' %}">
                    <span class="btn btn-success-transparent">افزودن</span>
                </a>
            </h4>
        </div>
    </div>
    <table class="table text-nowrap table-hover">
        <thead>
            <tr>
                <th scope="col">شناسه</th>
                <th scope="col">عنوان</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for rule in rules %}
            <tr>
                <td>
                    {{ rule.id }}
                </td>
                <td>
                    {{ rule.title }}
                </td>
                <td>
                    <a href="{% url 'rule_edit' rule.id %}" class="btn btn-icon btn-sm btn-success-transparent rounded-pill">
                        <i class="ri-edit-2-line"></i>
                    </a>
                    <a href="{% url 'rule_delete' rule.id %}" class="btn btn-icon btn-sm btn-danger-transparent rounded-pill">
                        <i class="ri-delete-bin-line"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" style="text-align: center;">
                    موردی یافت نشد.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}