{% extends 'bases/dashboard.html' %}

{% load static %}

{% block title %}
لیست نوبت های مشاوره
{% endblock %}

{% block content %}
<section class="section-t-space feature-course-section popular-course-section" dir="rtl">
    <div class="custom-container">
        <div class="title mb-1">
            <h4 class="mb-3">
                نوبت های مشاوره فردی
                <a href="{% url 'schedule_add' %}">
                    <span class="btn btn-success-transparent">افزودن</span>
                </a>
            </h4>
        </div>

        <div class="container my-4">

            {% if weeks %}

            <div class="d-flex justify-content-between align-items-center mb-3" style="gap: 25px;">

                <button id="prevWeek" class="btn btn-outline-primary">
                    هفته قبل
                </button>

                <!-- <h5 id="weekTitle" class="mb-0"></h5> -->

                <button id="nextWeek" class="btn btn-outline-primary">
                    هفته بعد
                </button>

            </div>


            {% for week in weeks %}

            <div class="week-table {% if not week.is_current %}d-none{% endif %}" data-index="{{ forloop.counter0 }}"
                data-title="هفته {{ week.title }}">

                <div class="table-responsive">

                    <table class="table table-bordered table-hover align-middle text-center schedule-table">

                        <thead class="table-light">

                            <tr>

                                {% for day in week.days %}
                                <th>
                                    {{ day.name }}
                                    <br>
                                    <small>{{ day.date_shamsi }}</small>
                                </th>
                                {% endfor %}

                            </tr>

                        </thead>

                        <tbody>

                            {% for row in week.rows %}

                            <tr>

                                {% for slot in row %}

                                <td style="height:65px">

                                    {% if slot %}

                                    {% if slot.request %}
                                    
                                        <button class="btn btn-danger btn-sm w-100">
                                        
                                            {{ slot.start_time|time:"H:i" }}
                                            -
                                            {{ slot.end_time|time:"H:i" }}
                                            
                                            <br>
                                            
                                            رزرو شده {{ slot.request.service.student.user.mobile }}

                                            <br>

                                            <a href="{% url 'show_my_student' slot.id %}" class="btn btn-icon btn-sm btn-primary rounded-pill">
                                                <i class="ri-eye-line"></i>
                                            </a>
                                        
                                        </button>
                                
                                    {% elif slot.is_reserved %}

                                        <button class="btn btn-warning btn-sm w-100">

                                            {{ slot.start_time|time:"H:i" }}
                                            -
                                            {{ slot.end_time|time:"H:i" }}

                                            <br>

                                            غیر قابل رزرو

                                            <br>

                                            <a href="{% url 'schedule_edit' slot.id %}" class="btn btn-icon btn-sm btn-primary rounded-pill">
                                                <i class="ri-edit-line"></i>
                                            </a>

                                            <a href="{% url 'schedule_delete' slot.id %}" class="btn btn-icon btn-sm btn-primary rounded-pill">
                                                <i class="ri-delete-bin-line"></i>
                                            </a>

                                        </button>

                                    {% elif not slot.is_available %}

                                        <button class="btn btn-warning btn-sm w-100">

                                            {{ slot.start_time|time:"H:i" }}
                                            -
                                            {{ slot.end_time|time:"H:i" }}

                                            <br>

                                            غیر قابل رزرو

                                            <br>

                                            <a href="{% url 'schedule_edit' slot.id %}" class="btn btn-icon btn-sm btn-primary rounded-pill">
                                                <i class="ri-edit-line"></i>
                                            </a>

                                            <a href="{% url 'schedule_delete' slot.id %}" class="btn btn-icon btn-sm btn-primary rounded-pill">
                                                <i class="ri-delete-bin-line"></i>
                                            </a>

                                        </button>

                                    {% else %}

                                        <button class="btn btn-success btn-sm w-100">

                                            {{ slot.start_time|time:"H:i" }}
                                            -
                                            {{ slot.end_time|time:"H:i" }}

                                            <br>

                                            امکان رزرو

                                            <br>

                                            <a href="{% url 'schedule_edit' slot.id %}" class="btn btn-icon btn-sm btn-primary rounded-pill">
                                                <i class="ri-edit-line"></i>
                                            </a>

                                            <a href="{% url 'schedule_delete' slot.id %}" class="btn btn-icon btn-sm btn-primary rounded-pill">
                                                <i class="ri-delete-bin-line"></i>
                                            </a>

                                        </button>

                                    {% endif %}

                                    {% endif %}

                                </td>

                                {% endfor %}

                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>

            {% endfor %}

            {% endif %}

        </div>
    </div>
</section>

<div class="table-responsive my-3" dir="rtl">
    <div class="card-header justify-content-between">
        <div class="card-title">
            <h4>
                لیست جلسات رزرو شده شما
            </h4>
        </div>
    </div>
    <table class="table text-nowrap table-hover my-4">
        <thead>
            <tr>
                <th scope="col">شناسه</th>
                <th scope="col">موبایل</th>
                <th scope="col">نام و نام خانوادگی</th>
                <th scope="col">آیدی تلگرام</th>
                <th scope="col">زمان جلسه</th>
                <th scope="col">وضعیت</th>
                <th scope="col">سرویس پایگاه داده</th>
                <th scope="col">هزینه پرداختی برای جلسه</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in reserved_schedules %}
            <tr>
                <td>
                    {{ schedule.id }}
                </td>
                <td>
                    {{ schedule.request.service.student.user.mobile }}
                </td>
                <td>
                    {{ schedule.request.service.student.user.get_full_name }}
                </td>
                <td>
                    {{ schedule.request.service.student.student_form_1.telegram_id }}
                </td>
                <td>
                    {{ schedule.date_shamsi }} {{ schedule.start_time }} - {{ schedule.end_time }}
                </td>
                <td>
                    {% if schedule.request.is_held %}
                    <span class="badge bg-success-transparent">برگزار شده</span>
                    {% else %}
                    <span class="badge bg-warning-transparent">برگزار نشده</span>
                    {% endif %}
                </td>
                <td>
                    {% if schedule.request.has_database %}
                    <span class="badge bg-success-transparent">دارد</span>
                    {% else %}
                    <span class="badge bg-warning-transparent">ندارد</span>
                    {% endif %}
                </td>
                <td>
                    {% if schedule.request.paid_amount %}
                    <span class="badge bg-success-transparent">{{ schedule.request.paid_amount }}</span>
                    {% else %}
                    <span class="badge bg-warning-transparent">-----</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'show_my_student' schedule.id %}" class="badge bg-secondary-transparent">مشاهده جزئیات</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9" style="text-align: center;">
                    موردی یافت نشد.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    const tables = document.querySelectorAll(".week-table");

    let current = 0;

    tables.forEach((table, index) => {

        if (!table.classList.contains("d-none"))
            current = index;

    });

    function showWeek(index) {

        tables.forEach(t => t.classList.add("d-none"));

        tables[index].classList.remove("d-none");

        // document.getElementById("weekTitle").innerHTML =
        //     tables[index].dataset.title;

    }

    showWeek(current);

    document.getElementById("nextWeek").onclick = function () {
    

        if (current < tables.length - 1) {

            current++;

            showWeek(current);

        }

    }

    document.getElementById("prevWeek").onclick = function () {

        if (current > 0) {

            current--;

            showWeek(current);

        }

    }
</script>
{% endblock %}