{% load static %}

<div class="top-header top-header-edited">
    <div class="header-left">
        <a class="new-text-black" href="{% url 'main' %}">
            <img src="{% static 'images/logo.jpg' %}" alt="دپارتمان مشاوره و منتورینگ آتروپین" width="30px" style="border-radius: 100%;">
        </a>
        <a href="{% url 'main' %}" class="header-logo">
            <h3 class="new-text-black">
                {% if "compass" in request.path %}
                دپارتمان تخصصی انتخاب رشته آتروپین
                {% else %}
                دپارتمان مشاوره و منتورینگ آتروپین
                {% endif %}
            </h3>
        </a>
    </div>

    <div class="header-right">
        <div class="notification-box" style="display: flex; justify-content: center; align-items: center; gap: 9px;">
            {% if request.user.username %}
            <form action="{% url 'logout' %}" method="post" class="side-menu__item" id="logout-form">
                {% csrf_token %}
                <i class="ri-logout-box-r-line" onclick="document.getElementById('logout-form').submit();" style="font-size: x-large; cursor: pointer;"></i>
            </form>
            {% endif %}
            <a class="new-text-black" data-bs-toggle="offcanvas" href="#sideMenu" role="button">
                <i class="ri-menu-2-fill"></i>
            </a>
        </div>
    </div>
</div>