{% extends 'bases/dashboard.html' %}

{% load static %}

{% block title %}
فرم اطلاعات سطح A
{% endblock %}

{% block header %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block content %}
<div class="row gy-۴" dir="rtl">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.gender.label }}</p>
                {% include 'includes/error.html' with errors=form.gender.errors %}
                {{ form.gender }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.marital.label }}</p>
                {% include 'includes/error.html' with errors=form.marital.errors %}
                {{ form.marital }}
            </div>

            <div id="married-fields" class="row w-100">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <p class="mt-2 text-muted">{{ form.wife_condition.label }}</p>
                    {% include 'includes/error.html' with errors=form.wife_condition.errors %}
                    {{ form.wife_condition }}
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <p class="mt-2 text-muted">{{ form.child.label }}</p>
                    {% include 'includes/error.html' with errors=form.child.errors %}
                    {{ form.child }}
                </div>

            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.family_support.label }}</p>
                {% include 'includes/error.html' with errors=form.family_support.errors %}
                {{ form.family_support }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.interest_surgical.label }}</p>
                {% include 'includes/error.html' with errors=form.interest_surgical.errors %}
                {{ form.interest_surgical }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.interest_non_surgical.label }}</p>
                {% include 'includes/error.html' with errors=form.interest_non_surgical.errors %}
                {{ form.interest_non_surgical }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.field_preference.label }}</p>
                {% include 'includes/error.html' with errors=form.field_preference.errors %}
                {{ form.field_preference }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.paraclinic_preference.label }}</p>
                {% include 'includes/error.html' with errors=form.paraclinic_preference.errors %}
                {{ form.paraclinic_preference }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.income_importance.label }}</p>
                {% include 'includes/error.html' with errors=form.income_importance.errors %}
                {{ form.income_importance }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.residency_free_time_importance.label }}</p>
                {% include 'includes/error.html' with errors=form.residency_free_time_importance.errors %}
                {{ form.residency_free_time_importance }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.career_free_time_importance.label }}</p>
                {% include 'includes/error.html' with errors=form.career_free_time_importance.errors %}
                {{ form.career_free_time_importance }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.no_night_shift_importance.label }}</p>
                {% include 'includes/error.html' with errors=form.no_night_shift_importance.errors %}
                {{ form.no_night_shift_importance }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.private_practice_interest.label }}</p>
                {% include 'includes/error.html' with errors=form.private_practice_interest.errors %}
                {{ form.private_practice_interest }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.academic_interest.label }}</p>
                {% include 'includes/error.html' with errors=form.academic_interest.errors %}
                {{ form.academic_interest }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.immigration_interest.label }}</p>
                {% include 'includes/error.html' with errors=form.immigration_interest.errors %}
                {{ form.immigration_interest }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.better_activity.label }}</p>
                {% include 'includes/error.html' with errors=form.better_activity.errors %}
                {{ form.better_activity }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.favorite_activity.label }}</p>
                {% include 'includes/error.html' with errors=form.favorite_activity.errors %}
                {{ form.favorite_activity }}
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <p class="mt-2 text-muted">{{ form.guard.label }}</p>
                {% include 'includes/error.html' with errors=form.guard.errors %}
                {{ form.guard }}
            </div>

        </div>
        <button type="submit" class="btn btn-success w-100 my-3">ثبت</button>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        const marital = document.getElementById("id_marital");
        const marriedFields = document.getElementById("married-fields");

        function toggleMarriedFields() {
            if (marital.value === "2") {
                marriedFields.style.display = "";
            } else {
                marriedFields.style.display = "none";

                document.getElementById("id_wife_condition").value = "";
                document.getElementById("id_child").value = "";
            }
        }

        toggleMarriedFields();

        marital.addEventListener("change", toggleMarriedFields);

    });
</script>
<script>
    $('#id_better_activity').select2({
        width: '100%',
        placeholder: 'موارد را انتخاب کنید'
    });
    $('#id_favorite_activity').select2({
        width: '100%',
        placeholder: 'موارد را انتخاب کنید'
    });
</script>
{% endblock %}