{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="آتروپین">
    <meta name="keywords" content="آتروپین">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="manifest" href="{% static 'jsons/manifest.json' %}">
    <meta name="theme-color" content="#172561">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="آتروپین">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="images/x-icon" href="{% static 'images/favicon.ico' %}">

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet">

    <!-- Loader Normalize css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.min.css' %}">

    <!-- Bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'css/vendors/bootstrap.css' %}">

    <!-- Swiper css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/swiper/swiper-bundle.min.css' %}">

    <!-- Remix Icon css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/remixicon.css' %}">

    <!-- Style css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% block static %}
    {% endblock %}
</head>

<body class="inter-body learning-color">
    <!-- Loader Box Start -->
    <div class="min-loader-wrapper">
        <img src="{% static 'images/loader/chatting.gif' %}" class="img-fluid loader" alt="">
        <div class="loader-section chatting-color section-left"></div>
        <div class="loader-section chatting-color section-right"></div>
    </div>
    <!-- Loader Box End -->
    
    <main class="position-relative" style="background-color: #eef1f6;">
        {% block header %}
        {% endblock %}

        <!-- Mobile Section Start -->
        <div class="mobile-style-1">
            <ul>
                <li class="{% if '/' == request.path %} active {% endif %}">
                    <a href="{% url 'main' %}" class="mobile-box">
                        <div class="mobile-icon">
                            <i class="ri-home-5-line"></i>
                        </div>
                        <div class="mobile-name">
                            <h5>خانه</h5>
                        </div>
                    </a>
                </li>

                <li class="{% if '/plans/' in request.path %} active {% endif %}">
                    <a href="{% url 'main' %}" class="mobile-box">
                        <div class="mobile-icon">
                            <i class="ri-live-line"></i>
                        </div>
                        <div class="mobile-name">
                            <h5>وبینار ها</h5>
                        </div>
                    </a>
                </li>

                <li class="{% if '/dashboard/' in request.path %}active{% endif %}">
                    <a href="" class="mobile-box">
                        <div class="mobile-icon">
                            <i class="ri-archive-line"></i>
                        </div>
                        <div class="mobile-name">
                            <h5>محصولات</h5>
                        </div>
                    </a>
                </li>

                <li class="{% if '/courses/' in request.path %} active {% endif %}">
                    <a href="" class="mobile-box">
                        <div class="mobile-icon">
                            <i class="ri-archive-line"></i>
                        </div>
                        <div class="mobile-name">
                            <h5>آزمون ها</h5>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="{% url 'main' %}" class="mobile-box">
                        <div class="mobile-icon">
                            <i class="ri-message-3-line"></i>
                        </div>
                        <div class="mobile-name">
                            <h5>چت</h5>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Mobile Section End -->

        {% block content %}
        {% endblock %}

        <!-- space box start -->
        <div class="learning-box"></div>
        <!-- space box end -->

        <!-- Side menu offcanvas start -->
        <div class="offcanvas theme-offcanvas learning-offcanvas offcanvas-start" tabindex="-1" id="sideMenu">
            <div class="offcanvas-header">
                <div class="profile-box">
                    <div class="profile-image">
                        {% if request.user.avatar %}
                        <img src="{{ request.user.avatar.url }}" class="img-fluid" alt="profile">
                        {% else %}
                        <img src="{% static 'images/user.jpg' %}" class="img-fluid" alt="profile">
                        {% endif %}
                    </div>
                    <div class="profile-name">
                        <h4 class="text-white">
                            {% if request.user.get_full_name %}
                            {{ request.user.get_full_name }}
                            {% else %}
                            کاربر مهمان
                            {% endif %}
                        </h4>
                        <h6 class="content-color">
                            {% if request.user.mobile %}
                            {{ request.user.mobile }}
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="offcanvas-body">
                <div class="title px-15">
                    <h4>حساب کاربری</h4>
                </div>
                <ul class="menu-setting-list">
                    <li>
                        <a href="{% url 'login' %}" class="menu-setting-box">
                            <div class="setting-icon">
                                <i class="ri-user-line"></i>
                            </div>
                            <div class="setting-name">
                                <h4>ورود</h4>
                                <i class="ri-arrow-left-s-line"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}" class="menu-setting-box">
                            <div class="setting-icon">
                                <i class="ri-user-add-line"></i>
                            </div>
                            <div class="setting-name">
                                <h4>ثبت نام</h4>
                                <i class="ri-arrow-left-s-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>

                <section class="section-t-space section-b-space">
                    <div class="divider"></div>
                </section>

                <div class="title px-15">
                    <h4>خدمات آتروپین</h4>
                </div>
                <ul class="menu-setting-list">
                    <li>
                        <a href="{% url 'courses' %}" class="menu-setting-box">
                            <div class="setting-icon">
                                <i class="ri-book-open-line"></i>
                            </div>
                            <div class="setting-name">
                                <h4>دوره های آموزشی</h4>
                                <i class="ri-arrow-left-s-line"></i>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'counseling_introduction' %}" class="menu-setting-box">
                            <div class="setting-icon">
                                <i class="ri-customer-service-2-line"></i>
                            </div>
                            <div class="setting-name">
                                <h4>مشاوره انتخاب رشته</h4>
                                <i class="ri-arrow-left-s-line"></i>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'estimation_introduction' %}" class="menu-setting-box">
                            <div class="setting-icon">
                                <i class="ri-line-chart-line"></i>
                            </div>
                            <div class="setting-name">
                                <h4>تخمین قبولی</h4>
                                <i class="ri-arrow-left-s-line"></i>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'choice_introduction' %}" class="menu-setting-box">
                            <div class="setting-icon">
                                <i class="ri-compass-3-line"></i>
                            </div>
                            <div class="setting-name">
                                <h4>انتخاب رشته بر اساس شخصیت</h4>
                                <i class="ri-arrow-left-s-line"></i>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'live_introduction' %}" class="menu-setting-box">
                            <div class="setting-icon">
                                <i class="ri-video-line"></i>
                            </div>
                            <div class="setting-name">
                                <h4>وبینار های طلایی</h4>
                                <i class="ri-arrow-left-s-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>

                <section class="section-t-space section-b-space">
                    <div class="divider"></div>
                </section>

                <div class="title px-15">
                    <h4>پیوندهای دیگر</h4>
                </div>
                <ul class="menu-setting-list">
                    <li>
                        <a href="{% url 'about_us' %}" class="menu-setting-box">
                            <div class="setting-icon">
                                <i class="ri-information-line"></i>
                            </div>
                            <div class="setting-name">
                                <h4>درباره ما</h4>
                                <i class="ri-arrow-left-s-line"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'trust' %}" class="menu-setting-box">
                            <div class="setting-icon">
                                <i class="ri-shield-check-line"></i>
                            </div>
                            <div class="setting-name">
                                <h4>نماد اعتماد</h4>
                                <i class="ri-arrow-left-s-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Side menu offcanvas end -->
    </main>

    <!-- Bootstrap js-->
    <script src="{% static 'js/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>

    <!-- swiper js -->
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/custom_swiper.js' %}"></script>

    <!-- Loader js -->
    <script src="{% static 'js/loader.js' %}"></script>

    <!-- Theme js-->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Theme Settings js-->
    <script src="{% static 'js/theme-setting.js' %}"></script>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/static/service-worker.js')
                .then((reg) => console.log('Service Worker registered!'))
                .catch((err) => console.log('Service Worker failed:', err));
            });
        }
    </script>

    {% block script %}
    {% endblock %}
</body>


</html>