{% extends 'bases/accounts.html' %}

{% load static %}

{% block title %}
آتروپین
{% endblock %}

{% block form %}

<div class="form-style-1 mt-35">

    <div class="alert alert-warning color-white text-center" style="line-height: 2; color: #fff;">
        باتوجه به اتمام مهلت انتخاب رشته، دسترسی محدود شده است.
        <br>
        در صورت مهلت ویرایش مجدد، امکان دسترسی فعال می‌شود؛
        در غیر این صورت در مهلت انتخاب رشته سال بعد، مجدد سامانه فعال می‌گردد.
    </div>

</div>

{% endblock %}
